{% extends 'base.html.twig' %}

{% block body %}

    {{ dump() }}

    <ul>
        {% for datas in data %}
            <li>{{ datas.firstname }} {{ datas.lastname }}</li>
            <li>{{ datas.email }}</li>
            <br>
            <hr>
            <br>
        {% endfor %}
    </ul>

{% endblock %}