{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">

		<h1>title</h1>
		<div class="row">
			<div class="user-form col-lg-6">
				{{ form_start(form) }}
				<div class="form-group">
					<label>{{ form_label(form.firstname) }}</label>
					{{ form_widget(form.firstname) }}
					<p>{{ form_errors(form.firstname) }}</p>
				</div>
				<div class="form-group">
					<label>{{ form_label(form.lastname) }}</label>
					{{ form_widget(form.lastname) }}
					<p>{{ form_errors(form.lastname) }}</p>
				</div>
				<div class="form-group">
					<label>{{ form_label(form.email) }}</label>
					{{ form_widget(form.email) }}
					<p>{{ form_errors(form.email) }}</p>
				</div>
				{{ form_row(form.save) }}
				{{ form_end(form) }}
			</div>
		</div>

		<a href="{{ path('route-name') }}">My options</a> 

		{{ dump() }}
	 
	    <div>teste</div>
	    <div class="alert alert-primary" role="alert">A simple primary alert—check it out!</div>

	    <div class="row">
	    	<div class="col-lg-6 col-md-3 text-center">1</div>
	    	<div class="col-lg-6 col-md-9 text-center">2</div>
	    </div>
    </div>
{% endblock %}